:root{
    --main-color: #fff9f9;
    --btn-color: #6609a3;
    --btn-hover: #eed810;
    --subtitle-color: #f88e04;
    --circle-yel-1: #ec9e0d;
    --circle-yel-2: #ffd620;
    --circle-pur: #660cbb;
    --circle-vio: #a352f0;
    --call-to-action-color: #660cbb;
    --call-to-action-button: #ffd82d;
    --call-to-action-button-hover: #7a4407;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    overflow-x: hidden;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;

}

.logo{
    padding: 0.5rem 0 0 1rem;
    font-weight: 500;
}

.header-img{
    clip-path: ellipse(62% 61% at 63% 38%);
}

/* Home */
.home{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.home-apresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.home-apresentation h2{
    font-size: 2.5rem;
    font-weight: 600;
}

.home-apresentation p{
    font-weight: 500;
}

.home .button-container{
    padding: 2rem;
}

.home button{
    border-radius: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
    background-color: var(--main-color);

    transition: all ease-in 0.1s;
}

.home button:hover{
    color: var(--btn-hover);
    background-color: var(--btn-color);
    box-shadow: 0.5rem 0.5rem 1rem 0rem #d8d8d8;
}

.home-review{
    display: flex;
    flex-direction: column;
}

.review-identifier{
    display: flex;
}

.review-identifier-txt{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.home-review p{
    padding: 1rem;
}

.home-review-name{
    font-weight: 600;
}

.home-review-site{
    font-weight: 300;
}

/* Description */
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.description-subtitle{
    color: var(--subtitle-color);
    font-weight: 600;
    padding-top: 2rem;
}

.description-title{
    font-size: 2rem;
    font-weight: 600;
}

.description-txt{
    padding: 2rem;
}

.description-a-visual{
    position: relative;
}

/* Circles 1 */
.circle-yel-1 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-color:var(--circle-yel-1);
    clip-path: circle(50%);    
    left: -8rem;
    top: -5rem;
}

.circle-pur-1 {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-color:var(--circle-pur);
    clip-path: circle(50%);    
    right: -8rem;
    top: -1rem;
}


/* Services */
.services-b{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    padding: 2rem;
    
}


.description-b-visual{
    position: relative;
}

.circle-pur-2{
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 700px;
    background-color:var(--circle-pur);
    clip-path: ellipse(43% 50% at 50% 50%);
    transform: rotate(60deg);
    right: 10rem;
    bottom: -5rem;
}

.services-c{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    padding: 2rem;
}


.description-c-visual{
    position: relative;
}
.circle-yel-2{
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 700px;
    background-color:var(--circle-yel-2);
    clip-path: ellipse(43% 50% at 50% 50%);
    transform: rotate(60deg);
    bottom: -5rem;
}


/* Call to Action */
.call-to-action{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--call-to-action-color);
    gap: 1rem;
}

.call-to-action-subtitle{
    color: var(--subtitle-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.call-to-action-title{
    font-size: 2rem;
    font-weight: 600;
}

.call-to-action-title, .call-to-action-txt, .call-to-action-txt-call{
    color: var(--main-color);
}



.call-to-action-button{
    border-radius: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--call-to-action-button);
    border: 2px solid var(--call-to-action-button);
    background-color: transparent;
    
    transition: all ease-in 0.1s;
}

.call-to-action-button:hover{
    color: var(--call-to-action-button-hover);
    background-color: var(--call-to-action-button);
}

.review{
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
}

#review-txt{
    padding: 1rem;
}

#person-name{
    font-weight: 500;
}

#usage-pack{
    font-weight: 300;
}

.review-controller{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.review-controller::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px; 
    background-color: var(--main-color);
    margin: 20px auto;
}


#left-arrow, #right-arrow{
    border-radius: 100%;
    padding: 1rem;
    border: 3px solid var(--call-to-action-button);
    color: var(--call-to-action-button);
    background-color: transparent;
    
    transition: all ease-in 0.1s;
}

#left-arrow:hover, #right-arrow:hover{
    color: var(--call-to-action-button-hover);
    background-color: var(--call-to-action-button);
}

.call-to-action-visual{
    position: relative;
}

.circle-vio{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color:var(--circle-vio);
    clip-path: circle(50%);
    bottom: -0;
    right: 50%;
    transform: translateX(-50%);
}


/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding: 1rem 0 2rem 0;
}

.company-identifier{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.footer-links{
    margin-top: 1rem;
}

footer nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

.footer-links a{
    text-decoration: none;
    color: black;
}


/* Animtaions */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.fade-in-delay-1 { animation-delay: 0.3s; }


@keyframes scaleUp{
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
    
}

.scale-up {
    opacity: 0;
    animation: scaleUp 0.8s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

.hidden{
    display: none;
}

/* Medias */

@media (min-width: 1024px) {
    header h1{
        display: none;
    }
    .header-img-container{
        display: none;
    }
    /* Header */
    .header-desktop{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        padding: 0rem 0rem 0rem 4rem;
    }
    
    .header-img-container-desktop{
        align-self: flex-start;
        top: 0;
        right: -10rem;
        z-index: -1;
        position: relative;
    }

    .header-img-desktop{
        position: absolute;
        right: 0;
        top: 0;
        clip-path: ellipse(49% 57% at 50% 30%);
    }

    .header-links{
        display: flex;
        gap: 3rem;
    }

    .header-link{
        text-decoration: none;
        color: black;
        transition: all ease-in 0.4s;

    }

    .header-link:hover{
        letter-spacing: 0.1rem;
    }

    .call-container{
        display: flex;
        gap: 1rem;
    }

    /* Button Desktop */
    #desktop-button{
        border-radius: 2rem;
        padding: 1rem 3rem 1rem 3rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fffcea;
        border: 2px solid var(--btn-color);
        background-color: var(--btn-color);
        margin-top: 1rem;

        transition: all ease-in 0.1s;
    }

    #desktop-button:hover{
        color: var(--btn-hover);
        background-color: var(--btn-color);
        box-shadow: 0.5rem 0.5rem 1rem 0rem #d8d8d8;
    }

    /* Home */
    .home{
        align-self: flex-start;
        max-width: 800px;
        padding: 4rem;
        font-size: 1.5rem;
    }

    .home h2{
        font-size: 4rem;
        font-weight: 700;
        text-align: left;
    }

    .home .button-container{
        align-self: flex-start;
        padding: 2rem 2rem 2rem 0rem;
    }

    .home-review{
        margin-top: 4rem;
    }


    .home-apresentation p{
        text-align: left;
    }

    /* Description */
    .description-subtitle{
        font-size: 1.5rem;
    }

    .description-title{
        font-size: 3.5rem;
        font-weight: 700;
    }

    #description-a-txt{
        justify-self: center;
        font-size: 1.2rem;
        width: 800px;
    }

    .description-a-visual img{
        height: 800px;
        box-shadow: 0rem 0.1rem 0.2rem 0.1rem #dbdbdb;
    }
    
    .description-a-visual .circle-yel-1{
        height: 700px;
        width: 700px;
        left: -30rem;
        top: -10rem;
    }

    .description-a-visual .circle-pur-1{
        height: 650px;
        width: 650px;
        right: -25rem;
        top: 5rem;
    }
}